<div
  class="modal fade"
  id="inlineFormActionModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="formData.header" class="modal-title" id="exampleModalLabel">
          {{ formData.header }}
        </h5>
      </div>
      <div class="modal-body">
        <div
          *ngIf="errorMessage"
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong> {{ errorMessage }}</strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <ng-template [ngForOf]="fields" ngFor let-field let-i="index">
          <div *ngIf="field.type == 'confirm_message'" class="form-group">
            <label>{{ field.label }}</label>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeActionModal()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="saveForm()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
